version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.11.3-stretch-browsers
        env:
          - DISPLAY=:99
          - FIREFOX_BIN=/usr/bin/firefox
    steps:
      - checkout
      - run:
          command: |
            sudo apt-get install -y python-setuptools python-dev build-essential xvfb
            sudo easy_install pip
            sudo pip install mozdownload mozinstall
            mozinstall firefox.tar.bz2

      - run:
          name: Running X virtual framebuffer
          command: Xvfb :99 -screen 0 1280x1024x24
          background: true

      - run:
          shell: /bin/bash --login
          command: |
            sudo npm install -g npm@6
            npm install
            DISPLAY=:99 FIREFOX_BIN=./firefox/firefox-bin npm test

workflows:
  version: 2

  # workflow jobs are _not_ run in tag builds by default
  # we use filters to whitelist jobs that should be run for tags

  # workflow jobs are run in _all_ branch builds by default
  # we use filters to blacklist jobs that shouldn't be run for a branch

  # see: https://circleci.com/docs/2.0/workflows/#git-tag-job-execution

  build-test-push:
    jobs:
      - build
